<!-- Bandeau d'alerte -->
    <% if @gossip.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p><small>Nous n'avons pas réussi à modifier le potin pour la (ou les) raison(s) suivante(s) :</small></p>
        <ul><small>
          <% @gossip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </small></ul>
      </div>
    <% end %>


<section class ="container mt-3">

<!-- Bandeau d'acceuil générique -->
  <div class=" p-1 mt-1 bg-secondary text-white">
      <div class="row text-center">
          <div class="col-9 text-left pl-5">
              <h3 class="section-title"> Formulaire de modification d'un potin </h3>
          </div>
      </div>
  </div>

<!-- Formulaire -->
<%= form_for @gossip do |f| %>
  <div class="form-group">
    <label> <%=f.label :title %> </label>
    <%=f.text_field :title, class:'form-control' %>
  </div>
  <div class="form-group">
    <label> <%=f.label :content %> </label>
    <%=f.text_area :content, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.select(:tag_ids, @tags, {:include_hidden => false}, :multiple => true, :size => 10) %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"> Modifier l'article </button>
  </div>
<% end %>

</section>